header {
  background-repeat: repeat-y;
  background-position: 50% 0;
  background-image: url("../../images/bg_gradient_956.jpg");
  padding-bottom: 30px;
  position: relative;
}
.header .main-content {
  position: relative;
}
.header .main-customers {
  padding: 50px 0px;
  position: absolute;
  bottom: -20px;
  left: 90px;
}
.main-customers .title {
  font-size: 13px;
  line-height: 16px;
}
.content {
  padding-top: 40px;
}
.content .title {
  font-size: 63px;
  line-height: 68px;
  font-weight: 350;
}
.content .sub-title {
  line-height: 30px;
  font-weight: 350;
  font-size: 29px;
  margin-top: 20px;
}
.button-group {
  display: inline-flex;
  flex-direction: row;
  margin-top: 30px;
  width: 50%;
}
.btn-free,
.btn-show {
  font-weight: 600;
  font-size: 16px;
  padding: 10px 20px 10px;
  border-width: 1px;
  width: 220px;
  cursor: pointer;
  background: transparent;
  border-radius: 5px;
  transition: all 0.2s ease;
  width: 100%;
}
.btn-gradient {
  color: #fff;
  background: linear-gradient(45deg, #c024b6 0%, #3023ae 100%);
  border: none;
  margin-right: 20px;
}
.btn-gradient:hover {
  background: #fff;
  border: 1px solid #c024b6;
  color: #c024b6;
}
.btn-video {
  color: #632ca6;
  border: 1px solid #632ca6;
}
.btn-video:hover {
  background: #632ca6;
  color: #fff;
}
.text-gray {
  color: #888;
}
.company-logos {
  align-items: center;
  /* flex-wrap: wrap; */
  gap: 2.25rem;
}
.company-logos .logo {
  display: flex;
  align-items: center;
  opacity: 1;
  transition: all 0.1s ease-out;
}
.company-logos .logo:hover {
  opacity: 0.6;
}
.company-logos .logo img {
  max-width: 100%;
}
.header .video-poster {
  overflow: hidden;
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 956.25px;
  max-width: 1700px;
  margin: 0 auto;
  right: 0;
}
.header .video-poster .video-bg {
  position: absolute;
  z-index: 0;
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  top: 0;
  left: 0;
  min-width: 100%;
  max-width: 100%;
  height: 956.25px;
}
.tw-w-11 {
  width: 22rem;
}
@media only screen and (min-width: 768px) {
  .btn {
    padding: 11px 20px 12px;
  }
  .header {
    height: 940px;
  }
  .company-logos {
    gap: 2.75rem;
  }
}
@media only screen and (min-width: 992px) {
  .header {
    background-size: 100% 100%;
    overflow: hidden;
    height: 970px;
  }
  .content {
    padding-top: 76px;
  }
}
@media only screen and (min-width: 1200px) {
  .company-logos {
    gap: 3.75rem;
  }
  .header .video-poster .video-bg {
    max-width: 1700px !important;
    left: -50% !important;
    right: -50% !important;
    margin: auto !important;
    width: 1700px !important;
  }
}
@media only screen and (max-width: 1200px) {
  .content .title {
    font-size: 40px;
  }
  .button-group {
    width: 59%;
  }
}
@media only screen and (max-width: 992px) {
  .company-logos {
    flex-wrap: nowrap;
  }
  .header .main-customers {
    bottom: 0px;
    padding-top: 0;
    padding-bottom: 50px;
    bottom: 15px;
    left: 40px;
  }
  .content .sub-title {
    font-size: 26px;
  }
  .button-group {
    width: 69%;
  }
  .header .video-poster {
    top: -30px;
  }
}
@media only screen and (max-width: 768px) {
  .company-logos {
    flex-wrap: wrap;
  }
  .company-logos .logo {
    width: 100px;
  }
  .header .video-poster .video-bg {
    height: 920.25px;
  }
  .header .main-customers {
    bottom: -25px;
    left: 10px;
    right: 0;
  }
  .content .title {
    font-size: 30px;
  }
  .content {
    position: relative;
    top: 45px;
  }
  .content .sub-title {
    font-size: 20px;
    text-align: center;
    margin-top: 0;
  }
  .video-poster {
    display: none;
  }
  .main-dash {
    display: block !important;
  }
  .btn-gradient {
    margin-right: 0px;
  }
  .main-content .button-group {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -415px;
  }

  .mobile-dash img {
    width: 100%;
    margin-top: 50px;
  }
  header {
    height: 850px;
  }
}
@media only screen and (max-width: 576px) {
  .main-content .button-group {
    align-items: center;
  }

  .header .main-customers {
    right: 0;
    left: -30px;
    bottom: 0px;
  }
  .company-logos .logo {
    width: 90px;
  }
  header {
    height: 870px;
  }
  .content .title {
    font-size: 32px;
    line-height: 40px;
  }
  .content .sub-title {
    font-size: 20px;
  }
  .main-content .button-group {
    bottom: -80vw;
  }
  .mobile-dash img {
    margin-top: 25px;
  }
}
