.learn-more-bg {
  background-image: url("https://imgix.datadoghq.com/img/homepage/reinvent_high_res_banner_desktop.png"),
    linear-gradient(360deg, #8904ff, #110617);
  background-size: cover;
}
.lm-py {
  padding-top: 5.25rem;
  padding-bottom: 5.25rem;
}
.learn-more-bg .learn-more-content {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.learn-more-content h2 {
  font-weight: 700;
}
.learn-more-content p {
  margin: 0.625rem 0;
  font-weight: 400;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  color: rgb(255 255 255 / 1);
  max-width: 70%;
}
.content-btn {
  display: inline-flex;
}
.learn-more-content .btn-ui {
  border-style: none;
  background-color: rgb(255 255 255 / 1);
  color: #110617;
}
.learn-more-content .btn-more {
  font-weight: 600;
  padding: 13px 21px 13px 21px;
  border-radius: 4px;
  margin-top: 1rem;
  transition: all 0.2s ease;
}
.learn-more-content .btn-more:hover {
  color: #8904ff;
}
@media (min-width: 768px) {
  .lm-py {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .learn-more-content p {
    font-size: 20px;
  }
  .learn-more-content .btn-more {
    gap: 0.375rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
@media only screen and (min-width: 1200px) {
  .lm-py {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
@media only screen and (max-width: 576px) {
  .lm-py {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .learn-more-content h2 {
    text-align: center;
  }
}
