.home-banner {
  background-image: url("../../images/reduce_it_costs_ebook_banner_desktop_v1.jpg");
  background-size: cover;
  background-position: 50%;
  min-height: 460px;
  width: 100%;
}
.home-banner .text-container {
  padding: 50px 20px;
}
.text-white {
  color: #fff;
}
.home-banner .title {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 22px;
}
.home-banner .sub-title {
  font-size: 26px;
  font-weight: 700;
  line-height: 32px;
  margin: 15px 0px 25px 0px;
}
.btn-outline {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  text-decoration: none;
  transition: all 0.2s ease;
}
.btn-get:hover {
  background: #fff;
  color: #632ca6;
}
.btn-get {
  font-size: 14px !important;
  border-radius: 5px;
  font-weight: 600;
  padding: 6px 11px;
  display: inline-flex;
}
@media only screen and (min-width: 992px) {
  .home-banner {
    min-height: auto;
  }
}
@media only screen and (min-width: 768px) {
  .home-banner .sub-title {
    font-size: 30px;
    line-height: 40px;
  }
}
@media only screen and (min-width: 576px) {
  .home-banner .title {
    font-size: 18px;
    line-height: 24px;
  }
  .btn-get {
    font-size: 18px !important;
    padding: 11px 20px 12px;
   
  }
}
@media only screen and (max-width: 1200px) {
  .home-banner {
    height: 290px;
  }
}
@media only screen and (max-width: 992px) {
  .home-banner {
    height: 360px;
  }
}
